In [3]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [6]:
idades = [39,30,27,18]
type(idades)

list

In [7]:
len(idades)

4

In [8]:
idades[0]

39

In [9]:
idades.append(15)

In [10]:
idades

[39, 30, 27, 18, 15]

In [11]:
idades[4]

15

In [12]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [13]:
idades.remove(15)

In [14]:
idades

[39, 30, 27, 18]

In [1]:
idades = [15, 23, 38, 45, 55]

In [2]:
10 in idades

False

In [3]:
15 in idades

True

In [4]:
idades.insert(0, 99)

In [5]:
idades

[99, 15, 23, 38, 45, 55]

In [6]:
idades.append(51)

In [7]:
idades

[99, 15, 23, 38, 45, 55, 51]

In [10]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [12]:
idades.extend([27, 35])
idades

[20, 39, 18, 27, 35, 27, 35]

In [15]:
for idade in idades:
    print("Elemento", idade)

Elemento 20
Elemento 39
Elemento 18
Elemento 27
Elemento 35
Elemento 27
Elemento 35

In [16]:
[(idade + 1) for idade in idades]

[21, 40, 19, 28, 36, 28, 36]

In [21]:
idades = [18, 35, 40]

In [22]:
[(idade) for idade in idades if idade > 20]

[35, 40]

In [23]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))

In [24]:
idades

[18, 35, 40]

In [25]:
idades.remove(19)

ValueError: list.remove(x): x not in list

In [28]:
idades.append(18)
idades

[35, 40, 18]

In [29]:
idades.remove(18)
idades

[35, 40]

Objetos proprios

In [41]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0

    def deposita(self, valor):
            self.saldo +=valor

    def __str__(self):
            return "[>> Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [43]:
felipe = ContaCorrente(1995)
print(felipe)

[>> Codigo 1995 Saldo 0<<]

In [45]:
felipe.deposita(10)
print(felipe)

[>> Codigo 1995 Saldo 20<<]

In [46]:
tata = ContaCorrente(1997)
print(tata)

[>> Codigo 1997 Saldo 0<<]

In [49]:
contas = [felipe, tata]
for conta in contas:
    print(conta)

[>> Codigo 1995 Saldo 20<<]
[>> Codigo 1997 Saldo 0<<]